
%headers {
    text-transform: uppercase;
    font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
    font-weight: 700;
}

//original selectors
//hr.star-light, hr.star-primary
%rules {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

//original selectors
//hr.star-light:after, hr.star-primary:after
%rulesAfter {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: $font_5;
    font-size: 2em;
}

//original selectors
//.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active
%activeButtons {
    border: solid 2px $white;
    color: $color_mountain_meadow_approx;
    background: $white;
}

//original selectors
//.floating-label-form-group input, .floating-label-form-group textarea
%formzw {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none!important;
    resize: none;
}