//colors
$color_mountain_meadow_approx: #2F9AFF;
$white: #fff;
$color_pickled_bluewood_approx: #2c3e50;
$color_mountain_meadow_90_approx: rgba(47, 154, 255, 0.9);
$color_gallery_approx: #eee;
$color_ebony_clay_approx: #233140;

//fonts
$font_0: Montserrat;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: FontAwesome;